<section id="projects">
<div class="container">
  <h3>Bio</h3>
  <h4 align="left"><u>Education</u></h4>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="http://stat.cornell.edu/">Cornell University</a></strong>
 <ul style="list-style-type:none">
  <li>2014 - Present</li>
  <li>Ph.D. in Statistics</li>
  <li>Special Master's in Computer Science conferred in 2017</li>
</ul>
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="http://www.berkeley.edu/">University of California, Berkeley</a></strong>
 <ul style="list-style-type:none">
  <li>2010 - 2013</li>
  <li>B.A. with High Honors in general scholarship</li>
  <li>Double Major in Applied Mathematics (Cluster: Operations Research) and Statistics</li>
</ul>
		</h5>

    </div>
  </div>

</div>
</section>
