<section id="projects">
<div class="container">
  <h3>Projects and Research Experience</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong>Change-point Detection</strong>
 <ul style="list-style-type:none">
  <li>As thesis topic, researching on methods including Bayesian frameworks and neural networks for multivariate time series change and anomaly detection. Data applications include periodic return of stocks, genetic profiles and prognostics measurements. Contributed to the R package ecp.</li>
</ul>
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong>Time Series</strong>
 <ul style="list-style-type:none">
  <li>Predictive modeling of transactions data to improve financial planning capabilities for low-wage workers at Science for Social Good initiative.</li>
  <li>Clustering and classification of multivariate time series using dynamic time warping techniques, applied to human activity recognition through smartphone motion sensor data.</li>
  <li><a href="StructuralMean.pdf">ORIE 6070 paper review</a>: Estimation of the structural mean of curves.</li>
</ul>
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong>Neural Networks</strong>
 <ul style="list-style-type:none">
  <li>Developed neural network models for feature extraction and missing modality imputation on multimodal sensor data at Institute of Infocomm Research, S&S Program, 2013 - 2014.</li>
</ul>
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong>Data Visualization</strong>
 <ul style="list-style-type:none">
  <li>Built R Shiny apps to facilitate data exploration and interpretation during work/internship stints.</li>
</ul>
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong>Biology</strong>
 <ul style="list-style-type:none">
  <li>Used maximum entropy inference procedures to derive metrics for ecological theory and tested results on macroecological datasets at UC Berkeley Energy and Resources Group, 2012 - 2013</li>
  <li>Researched the induction of CML from DNA double strand breaks and BCR-ABL gene rearrangements at UC Berkeley Department of Mathematics, 2011 - 2012. Performed Monte Carlo simulations, analyzed data using the “Hi-C” method.</li>
</ul>
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong>Data Analysis (undergraduate projects)</strong>
 <ul style="list-style-type:none">
  <li><a href="Predicting Crimes in Berkeley.pdf">STAT 154 project</a>: Predicting crimes most likely to happen at a particular place, day, time and weather condition at Berkeley.</li>
  <li><a href="iPhone5.pdf">Self-proposed project</a>: Analyzing trends of iPhone 5 sale prices on eBay.</li>
  <li><a href="Elections.pdf">STAT 133 project</a>: Studying relationships that income, population and number of universities have with the 2008 US presidential election.</li>
</ul>
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong>Millimeter Wave Imaging</strong>
 <ul style="list-style-type:none">
  <li>As part of research attachment at Institute for Infocomm Research, Computer Graphics & Interface Department, in 2011, investigated using MATLAB for signal processing and image processing tasks such as edge detection on millimeter wave imaging data.</li>
</ul>
		</h5>

    </div>
  </div>
</div>
</section>
