<section id="projects">
<div class="container">
  <h3>Projects and Research Experience</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong>Change-point Detection</strong>
 <ul style="list-style-type:none">
  <li>Cornell Department of Statistical Science, 2015 - Present</li>
  <li>Researched change point analysis for time series.</li>
  <li>Investigated data such as periodic return of stocks, stream flow, wind speed, and flight measurements.</li>
</ul>
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong>Time Series Classification</strong>
 <ul style="list-style-type:none">
  <li>Cornell Department of Computer Science, 2015</li>
  <li>Used dynamic time warping techniques for multivariate time series clustering and classification.</li>
  <li>Applied to human activity recognition tasks through smartphone motion sensor data.</li>
</ul>
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong>Multimodal Deep Learning</strong>
 <ul style="list-style-type:none">
  <li>Institute of Infocomm Research, S&S Program, 2013 - 2014</li>
  <li>Used Deep Neural Network models to extract features from multimodal data.</li>
  <li>Contributed to industrial projects in data analysis and experimental design.</li>
</ul>
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong>Product Pricing</strong>
 <ul style="list-style-type:none">
  <li>UC Berkeley Department of Statistics, 2013</li>
  <li>Built models for predicting the price of an iPhone 5.</li>
  <li>Models were specific and accurate to condition, time of day, and format of sale.</li>
</ul>
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong>Ecological Metrics</strong>
 <ul style="list-style-type:none">
  <li>UC Berkeley Energy and Resources Group, 2012 - 2013</li>
  <li>Used maximum entropy inference procedures to derive metrics for ecological theory.</li>
  <li>Tested results on macroecological datasets.</li>
</ul>
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong>Genetic Systems</strong>
 <ul style="list-style-type:none">
  <li>UC Berkeley Department of Mathematics, 2011 - 2012</li>
  <li>Researched the induction of CML from DNA double strand breaks and BCR-ABL gene rearrangements.</li>
  <li>Performed Monte Carlo simulations, analyzed data using the “Hi-C” method.</li>
  <li>Studied the stochastic geometry of chromosomes.</li>
</ul>
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong>Millimeter Wave Imaging</strong>
 <ul style="list-style-type:none">
  <li>Institute for Infocomm Research, Computer Graphics & Interface Department, 2011</li>
  <li>Improved the quality of millimeter wave imaging techniques.</li>
  <li>Wrote MATLAB code for signal processing and image processing tasks.</li>
</ul>
		</h5>

    </div>
  </div>
</div>
</section>
