<section id="projects">
<div class="container">
  <h3>Publications</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
W. Zhang, R. Horesh, K. N. Ramamurthy, L. Wu, J. Yi, K. Anderson, K. R. Varshney (2018). <a href="https://arxiv.org/pdf/1806.05362.pdf">Financial Forecasting and Analysis for Low-Wage Workers.</a> Data for Good Exchange 2018.
		</h5>
		<h5>
W. Zhang, N. James, D. Matteson (2017). <a href="https://arxiv.org/pdf/1709.06421.pdf">Pruning and Nonparametric Multiple
Change Point Detection.</a> Proc. IEEE ICDM Workshops 2017.
		</h5>
		<h5>
Z. Liu, W. Zhang, S. Li, T. Quek (2017). <a href="https://ieeexplore.ieee.org/document/7874158">Heterogeneous Sensor Data Fusion by Deep Multimodal Encoding.</a> IEEE Journal of Selected Topics in Signal Processing, 11(3): 479-491.
		</h5>
		<h5>
Z. Liu, W. Zhang, T. Quek, S. Li (2017). <a href="https://ieeexplore.ieee.org/document/7953301">Deep Fusion of Heterogeneous Sensor Data.</a> Proc. IEEE ICASSP 2017.
		</h5>
		<h5>
S. Seto, W. Zhang, Y. Zhou (2015). <a href="http://arxiv.org/abs/1512.06747">Multivariate Time Series Classification Using Dynamic Time Warping Template Selection for Human Activity Recognition.</a> Proc. IEEE CIDM 2015.
		</h5>
		<h5>
J. Harte, A. Rominger, W. Zhang (2015). <a href="http://onlinelibrary.wiley.com/doi/10.1111/ele.12489/abstract">Integrating Macroecological Metrics and Community Taxonomic Structure.</a> Ecology Letters, 18: 1068-1077.
		</h5>
    	<h5>
R. Chan, P. Zhang, W. Zhang, I. Nevat, A. C. Valera, H. Tan, N. Gautam (2015). <a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=7249388&url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D7249388">Adaptive Duty Cycling in Sensor Networks via Continuous Time Markov Chain Modelling.</a> Proc. IEEE ICC 2015.
		</h5>
		<h5>
P. Zhang, X. Ma, W. Zhang, S. Lin, H. Chen, A. Y. Lee, G. Xiao (2015). <a href="http://ieeexplore.ieee.org/xpl/abstractAuthors.jsp?reload=true&arnumber=7106972">Multimodal Fusion for Sensor Data Using Stacked Autoencoders.</a> Proc. IEEE ISSNIP 2015.
		</h5>

    </div>
  </div>
</div>
</section>
